.nav {
  height: 50px;
  padding: 10px;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-right: 4rem;
}

.nav ul li {
  padding: 16px;
  margin-left: 16px;
}

.nav ul li:hover {
  color: red;
}
